.movie-card  {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(38, 37, 37);
    padding: 1rem;
}
.movie-card img {
    max-width: 100%;
}
.movie-card img,
.movie-card h2,
.movie-card p {
    margin-bottom: 1rem;
}

.movie-card svg {
    color: #F7D354;
}

.movie-card a{
    background-color: #F7D354;
    border: 2px solid #F7D354;
    border-radius: 4px;
    color: #000;
    padding: 1rem 0.5rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
.movie-card a:hover{
    background-color: transparent;
    color: #F7D354;
}